<!DOCTYPE html>
  <html>
    <head>
      <img src="https://dl.dropboxusercontent.com/s/gt604pjwbrdu4f7/mark-heimann.jpg" style="width:128px;height:128px;">
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="https://dl.dropboxusercontent.com/s/2c5j1of121p0mmx/MarkHeimann_Resume.doc?dl=0">Resume</a></li>
          </ul>
      </nav>

      <h1 style="text-align:center">Mark Heimann</h1>

      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      
      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:markheimann@umich.edu">Contact</a></li>
              <li><a href="https://github.com/markheimann">GitHub</a></li>
        </ul>
      </footer>
    </body>
  </html>